* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.08em;
    --border-radius: 1rem;
    --primary-light: white;
    --primary-light-transp1: rgba(255, 255, 255, 0.7);
    --primary-light-transp2: rgba(255, 255, 255, 0.4);
    --primary-dark: black;
    --dark-transparent: rgba(0, 0, 0, 0.8);
    --secondary-color: #8c8c8c;
    --secondary-transp1: #8c8c8cee;
    --icdt-color: #73CEE2;
    --icdt-color2: #96C0D5;
}

html,
body {
    pointer-events: none;
    overflow: hidden;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.effect:hover {
    font-weight: 500;
    scale: 1.01;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

h5 {
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.7);
}


.menu-input {
    text-rendering: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-shadow: none;
    text-align: start;
    text-indent: 0.8rem;
    cursor: text;
    background-color: var(--primary-light);
    margin: 0.2rem;
    padding: 1px 2px;
    border-width: 2px;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 12px;
}

.menu-button {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    font-size: 14px;
    color: var(--icdt-color2);
    padding: 0.8rem 1.2rem;
    width: fit-content;
    cursor: pointer;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.20);
}


.message {
    padding: 8rem 2rem;
    background-color: var(--icdt-color2);
    height: 100vh;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282828;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

#root {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#top-gradient {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 7rem;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#top-bar {
    z-index: 4;
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

#right-container {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0px;
    right: 0px;
    height: 100vh;
    pointer-events: all;
}

#right-menu-button {
    padding-top: 1.2rem;
    padding-right: 0.7rem;
}

#right-box {
    z-index: -1;
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
    right: 0px;
    background-color: var(--dark-transparent);
    width: auto;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    color: var(--primary-light);
    overflow: hidden;
    padding: 1.2;
    min-width: 4.1rem;
}

#right-menu-buttons {
    display: flex;
    gap: 1.5rem;
    padding-top: 7rem;
    padding-right: 1.2rem;
    flex-direction: column;
}

#right-menu {
    width: fit-content;
    height: fit-content;
    padding-top: 1rem;
    top: 0px;
    padding-right: 2rem;
    flex-direction: column;
}

#right-menu-header {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
}

#share-view-window {
    background-color: var(--dark-transparent);
    z-index: 3;
    border-radius: var(--border-radius);
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-light);
    pointer-events: all;
    padding: 0.5rem;
    gap: 1rem;
}

#share-view-window svg {
    margin: 0 0.8rem;
}

#info-menu {
    max-width: 55vw;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    gap: 1rem;
}

.right-menu-body {
    overflow: auto;
    padding: 2.5rem 0 0 1.5rem;
    height: 88vh;
    width: max-content;
    max-width: 60vw;
}

.right-menu-table-two-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 1rem;
    pointer-events: all;
    cursor: pointer;
}

.color {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 20px;
    height: 23px;
    margin-left: 1rem;
    padding: 2px;
}

.right-menu-table-two-rows>* {
    width: 50%;
}

.right-menu-center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

.mapboxgl-map {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.mapboxgl-marker {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    pointer-events: all;
}

.icon svg {
    fill: var(--primary-light);
    width: 1.8rem;
    height: 1.8rem;
}

.icon:hover {
    scale: 1.03;
    transition: all 0.3s ease 0s;
}

svg:hover {
    fill: var(--icdt-color);
    scale: 1.03;
}

.row {
    display: flex;
    flex-direction: row;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.icons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.8rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.mapboxgl-ctrl-top-left {
    margin: 1.2rem 6rem;
}

.all-pointer-events {
    pointer-events: all;
    cursor: pointer;
}

.map-styles {
    width: 18rem;
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;
    cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
    visibility: collapse;
}

.hamburger-react>div {
    height: 3px !important;
}

.place-icon>svg {
    cursor: pointer;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-light);
    pointer-events: all;
}

.full-page-flex {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    pointer-events: none;
}

.full-page-iframe {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #888;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
}