* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.08em;
    --border-radius: 1rem;
    --primary-light: white;
    --primary-light-transp1: rgba(255, 255, 255, 0.7);
    --primary-light-transp2: rgba(255, 255, 255, 0.4);
    --primary-dark: black;
    --dark-transparent: rgba(0, 0, 0, 0.85);
    --secondary-color: #8c8c8c;
    --secondary-transp1: #8c8c8cee;
    --icdt-color: #73CEE2;
    --selected-button: #93B9E2;
}

html,
body {
    pointer-events: none;
    overflow: hidden;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282828;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

#root {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#top-gradient {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 7rem;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#top-bar {
    display: flex;
    padding: 1.3rem 0rem 1.3rem 1.3rem;
    z-index: 4;
    position: absolute;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.mapboxgl-map {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.white-icon {
    padding: 1.2rem;
}

.white-icon svg {
    cursor: pointer;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-light);
    pointer-events: all;
    transition: all 0.3s ease 0s;
}

.white-icon:hover>svg {
    fill: var(--icdt-color);
    scale: 1.05;
}

.animate {
    transform: translate(0, 4rem);
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.selected-button>svg {
    fill: var(--selected-button);
    scale: 1.025;
}

.icon:hover {
    scale: 1.05;
    transition: all 0.3s ease 0s;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.mapboxgl-ctrl-top-left {
    margin: 1.7rem 8.2rem;
}

.all-pointer-events {
    pointer-events: all;
    cursor: pointer;
}

#right-menu-container {
    z-index: 3;
    position: absolute;
    display: flex;
    background-color: var(--dark-transparent);
    padding-top: 1rem;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: fit-content;
    align-items: flex-start;
    flex-direction: row;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--primary-light);
    pointer-events: all;
    overflow: hidden;
}

#right-menu-buttons {
    padding-top: 6rem;
    flex-direction: column;
}

#right-menu {
    width: fit-content;
    height: fit-content;
    top: 0px;
    flex-direction: column;
}

#right-menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right-menu-title>h2 {
    padding: 0 1rem;
}

#right-menu-content {
    overflow-y: auto;
    padding-top: 4rem;
    height: calc(88vh)
}

.mapboxgl-ctrl-bottom-right {
    visibility: collapse;
}

.place-icon>svg {
    cursor: pointer;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-light);
    pointer-events: all;
}

.full-page-iframe {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #888;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
}