* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --border-radius: 1rem;
    --primary-light: white;
    --primary-light-transp1: rgba(255, 255, 255, 0.7);
    --primary-light-transp2: rgba(255, 255, 255, 0.4);
    --primary-dark: black;
    --dark-transparent: rgba(0, 0, 0, 0.85);
    --secondary-color: #8c8c8c;
    --secondary-transp1: #8c8c8cee;
    --icdt-color: #73CEE2;
    --selected-button: #93B9E2;
    --shadow: 0.4rem 0.4rem 0.6rem #00000040;
    --darker-shadow: 0.3rem 0.3rem 0.3rem #000000aa;
    --blur: blur(3px);
}

html,
body {
    pointer-events: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#top-gradient {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 7rem;
    background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

#top-bar {
    display: flex;
    padding: 1.3rem 0.2rem 1.3rem 1.3rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.selectors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    pointer-events: all;
}

.selector {
    z-index: 1;
    background-color: var(--primary-light);
    padding: 0.7rem;
    margin: 0.5rem;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    height: 36.8px;
    width: 262px;
    font-size: 0.8rem;
    text-transform: uppercase;
    pointer-events: all;
}

.mapboxgl-map {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.white-icon {
    padding: 1.2rem;
}

.white-icon svg {
    cursor: pointer;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-light);
    pointer-events: all;
    transition: all 0.3s ease 0s;
}

.white-icon:hover>svg {
    fill: var(--icdt-color);
    scale: 1.05;
}

.animate {
    transform: translate(0, 4rem);
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.selected-button>svg {
    fill: var(--selected-button);
    scale: 1.025;
}

.icon:hover {
    scale: 1.05;
    transition: all 0.3s ease 0s;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mapboxgl-ctrl-top-left {
    margin: 1.7rem 8.2rem;
}

.all-pointer-events {
    pointer-events: all;
    cursor: pointer;
}

#right-menu {
    z-index: 1;
    position: absolute;
    display: flex;
    background-color: var(--dark-transparent);
    padding-top: 7rem;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: fit-content;
    align-items: flex-start;
    flex-direction: row;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--primary-light);
    pointer-events: all;
    overflow-x: hidden;
}

#right-menu-buttons {
    flex-direction: column;
}

#right-menu-container {
    width: 200px;
    height: fit-content;
    background-color: red;
    top: 0px;
    overflow-y: auto;

}

.mapboxgl-ctrl-bottom-right {
    visibility: collapse;
}

.place-icon>svg {
    cursor: pointer;
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--primary-light);
    pointer-events: all;
}

.full-page-iframe {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #888;
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
}